.Emoji-container {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
}

.Emoji-container:hover, .Emoji-container-selected {
  background-color: #d4e8f9;
}

.Emoji-item {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0;
}
