.emoji-container {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.emoji-container:hover {
  background-color: #d4e8f9;
}

.emoji-container--selected {
  background-color: lightgray;
}

.emoji-item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0;
  display: inline-block;
  height: 45px;
  width: 45px;
}

.emoji-item:focus {
  outline: 0; /* remove that default active-state blue border */
}
