.token-input-form {
  max-width: 750px;
}

.token-input-section {
  font-size: 14px;
  margin-right: 25px;
}

.token-input-input {
  margin-left: 10px
}

.token-input-help-text {
  text-align: left;
  color: #2f9271;
  display: block;
  margin-top: 10px;
}

.token-input-submit {
  width: 115px;
  margin: auto;
  margin-top: 20px;
}
